:root {
  --global-background: black;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  background: var(--global-background);
  color: white;
}

html {
  scroll-behavior: smooth;
}

section{
  padding-top: 20px;
}

h1{
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 10px;
}
hr{
  width: 80%;
  height: 2px;
  border: none;
  background-color: #2a3525;
  margin-bottom: 0px;
}